.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box {
    width: 1800px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:100% 100%;
}

.action-btns {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.action-btns button {
    background-color: aqua;
    border-radius: 6px;
    transition: all 0.5s ease;
}

.action-btns button:hover {
    color: white;
    background-color: aquamarine;
}